
<footer>
    <div class="footer">
        <div class="footer">
            <div class="container">
                <div class="row footer-tagline">
                    <!-- About -->
                    <div class="col-md-3 md-margin-bottom-40" style="margin-top:20px;">
                        <a href="index.html"><img id="logo-footer" class="footer-logo" src="~/Content/image/sky_logo.png"></a>
                        <p>Duis eleifend fermentum ante ut aliquam. Cras mi risus, dignissim sed adipiscing ut, placerat non arcu.</p>
                    </div><!--/col-md-3-->
                    <!-- End About -->
                    <!-- Latest -->
                    <div class="col-md-3 md-margin-bottom-40" style="margin-top:20px;">
                        <div class="posts">
                            <div class="headline"><h2>Latest News</h2></div>
                            <ul class="list-unstyled latest-list">
                                <li>
                                    <a href="#">Incredible news</a>
                                    <small>26 Nov 2015</small>
                                </li>
                                <li>
                                    <a href="#">Best news</a>
                                    <small>26 Nov 2015</small>
                                </li>
                            </ul>
                        </div>
                    </div><!--/col-md-3-->
                    <!-- End Latest -->
                    <!-- Link List -->
                    <div class="col-md-3 md-margin-bottom-40" style="margin-top:20px;">
                        <div class="headline"><h2>Useful Links</h2></div>
                        <ul class="list-unstyled link-list">
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Site Map</a></li>
                            <li><a href="#">Privacy</a></li>
                        </ul>
                    </div><!--/col-md-3-->
                    <!-- End Link List -->
                    <!-- Address -->
                    <div class="col-md-3 map-img md-margin-bottom-40" style="margin-top:20px;">
                        <div class="headline"><h2>Contact Us</h2></div>
                        <address class="md-margin-bottom-40">
                            2 Wellington Place<br />
                            Leeds<br />
                            LS14AP<br />
                            Tel: +44 (0)333 100 0333<br />
                        </address>
                    </div><!--/col-md-3-->
                    <!-- End Address -->
                </div>
                <div class="copyright">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    &copy; @DateTime.Now.Year Sky UK
                                    <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                                </p>
                            </div>

                            <!-- Social Links -->
                            <div class="col-md-6">
                                <ul class="footer-socials list-inline">
                                    <li>
                                        <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
                                            <i class="fa fa-skype"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
                                            <i class="fa fa-dribbble"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Social Links -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

